.evento {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;

    font-size: 20px;
    text-align: center;

    width: auto;
    height: auto;

}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;

    font-size: 20px;
    text-align: justify;

    width: auto;
    height: auto;
}

.image {
    width: 500px;
    height: 500px
}


.eventoTitulo {
    color: black;
    padding-bottom: 10px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;

    line-height: 40px;
    text-align: center;

}

.sinopse {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.backimage {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.desfocar {
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(247, 247, 247, 0.438);
    width: 100%;
}