
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');

  
:root {
  --cor-primaria: #000000;
  --cor-secundaria:  #ffffff;
  --cor-terciaria: #aaaaaa;
  --cor-quaternaria: #ffffff;
  --cor-preto: #000000;

  --cor-success: #09ff00;
  --cor-error: #ff0000;

  --cor-focus: rgba(255, 255, 0, 0.14);

  --font-primaria:'Quicksand', sans-serif;
  --font-secundaria: 'Inter', sans-serif;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}