.image {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.list_imagens {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 2rem;

}

.container_atores {
  width: 90%;
}

.atores {
  overflow-x: scroll;
  overflow-y: hidden;
}


.list_atores {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  width: auto;
  gap: 2rem;


}

.atores::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  /* A altura só é vista quando a rolagem é horizontal */
}

.atores::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

.atores::-webkit-scrollbar-thumb {
  background-color: var(--cor-terciaria);
}


@media (max-width: 1720px) {
  .list_imagens {
    grid-template-columns: 20rem 20rem 20rem;

  }
}


@media (max-width: 1367px) {
  .list_imagens {
    grid-template-columns: 20rem 20rem 20rem;
  }
}

@media (max-width: 1027px) {
  .list_imagens {
    grid-template-columns: 20rem 20rem;
  }
}

@media (max-width: 670px) {
  .list_imagens {
    grid-template-columns: 20rem;
  }
}