.image {
  width: 500px;
  height: 500px;
  }
  
  
  .list_imagens {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem 20rem;
    justify-content: center;
    gap: 2rem;
   
  }
  
  @media (max-width: 1720px) {
    .list_imagens {
      grid-template-columns: 20rem 20rem 20rem 20rem;
    }
  }
  
  
  @media (max-width: 1367px) {
    .list_imagens {
      grid-template-columns: 20rem 20rem 20rem;
    }
  }
  
  @media (max-width: 1027px) {
    .list_imagens {
      grid-template-columns: 20rem 20rem ;
    }
  }
  
  @media (max-width: 670px) {
    .list_imagens {
      grid-template-columns: 20rem;
    }
  }